<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="/login" slot="start"></ion-back-button>
    <ion-title>Sala de chat ({{ name }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
  <app-app-loading-feedback [state]="state" (retryEvent)="loadAgain()">
    <div *ngFor="let message of messages" class="message" [ngClass]="{'owner': message.user === name}">
      <div>
        <p class="userName">{{ message.user }}</p>
      </div>
      <div>
        <p class="text">{{ message.text }}</p>
      </div>
      <div>
        <p class="date">{{ message.date | date:'medium' }}</p>
      </div>
    </div>
  </app-app-loading-feedback>
</ion-content>

<ion-footer>
  <form [formGroup]="messageForm" (submit)="sendMessage()">
    <ion-item>
      <ion-input item-left formControlName="message" name="message" placeholder="Mensaje"></ion-input>
      <ion-button item-right type="submit" slot="end" [disabled]="messageForm.invalid"><ion-icon color="black" name="send"></ion-icon></ion-button>
    </ion-item>
  </form>
</ion-footer>